<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Solve Me</title>
<link rel="icon" href="/img/favicon.png?1491134214">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css?1491154688">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/common.js?1493715203"></script>
</head>
<body>
<div class="container-fluid v-center">
	<div class="row">
		<div class="col-sm-6 col-md-4 h-center">
			<header class="text-center"><span class="logo-major">Solve Me</span><br>
			<span class="text-muted">Yet another new CTF for hackers</span></a></header><nav class="text-center m-t-10">
			<ul class="list-inline clear-margin">
				<li><a class="text-black" href="/">Home</a></li>
				<li><a class="text-black" href="/chall">Challenge</a></li>
				<li><a class="text-black" href="/rank">Rank</a></li>
				<li><a class="text-black" href="/profile">Profile</a></li>
			</ul>
			</nav>
			<div class="main-body">
				<dl class="well">
					<dt class="main-dt">About</dt>
					<dd>The Solve Me offers the opportunity for you to test your knowledge.<br>
					This challenge's method is CTF (Capture The Flag).<br>
					To solve the challenge, find the hidden answer (a.k.a. <var>flag</var>) in problems.<br>
					If you solve the challenge and authentication the <var>flag</var>, you'll get a score.<br>
					Have fun solving challenge!<br>
					</dd>
				</dl>
				<dl class="well">
					<dt class="main-dt">Rules</dt>
					<dd>
					<ul class="list-unstyled clear-margin">
						<li>Only one registration per person is allowed.</li>
						<li>Do not share the <var>flag</var> for solve the challenge. But, a small hint is allowed.</li>
						<li>Do not bruteforce authentication. Even if you've solved with it, it's very futile.</li>
						<li>Do not attack not specified service or server. If you find any unintended bug, please report to admin personally.</li>
					</ul>
					</dd>
				</dl>
				<dl class="well">
					<dt class="main-dt">Contact</dt>
					<dd>If you have any questions or problems, <a href="mailto:xposimon123@gmail.com">contact to admin</a>.<br>
					I might not be able to answer immediately. ;)<br>
					</dd>
				</dl>
			</div>
			<footer class="text-center text-muted"><address class="clear-margin">&copy; <a class="text-muted" href="//safflower.kr" target="_blank">Safflower</a>. All Rights Reserved.</address></footer>
		</div>
	</div>
</div>
</body>
</html>
