<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Solve Me » Profile</title>
<link rel="icon" href="/img/favicon.png?1491134214">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css?1491154688">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/common.js?1493715203"></script>
</head>
<body>
<div class="container-fluid v-center">
	<div class="row">
		<div class="col-sm-6 col-md-4 h-center">
			<header class="text-center"><a class="text-black clear-decoration" href="/"><img class="logo-mark" src="/img/bulb.png"><span class="logo-major">Solve Me</span><br>
			<span class="text-muted">Yet another new CTF for hackers</span></a></header><nav class="text-center m-t-10">
			<ul class="list-inline clear-margin">
				<li><a class="text-black" href="/">Home</a></li>
				<li><a class="text-black" href="/chall">Challenge</a></li>
				<li><a class="text-black" href="/rank">Rank</a></li>
				<li><a class="text-black" href="/status">Status</a></li>
				<li><a class="text-black" href="/profile">Profile</a></li>
			</ul>
			</nav>
			<div class="main-body">
				<div class="pull-left">
					<h3 class="clear-margin">xposimon<span class="badge">0pt</span></h3>
					<a href="mailto:xposimon123@gmail.com">xposimon123@gmail.com</a>
				</div>
				<div class="clearfix text-right">
					<a class="btn btn-default btn-sm m-t-10 m-r-5" href="/profile/edit">Edit</a><a class="btn btn-danger btn-sm m-t-10" href="/logout/287820bad8026fda96267a29afb4bf0b">Logout</a>
				</div>
				<div class="progress m-t-10 m-b-10">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1800" style="width: 0%">
						<span>0%</span>
					</div>
				</div>
				<table class="table table-striped table-hover table-responsive clear-margin">
				<thead>
				<tr>
					<th scope="col">
						#
					</th>
					<th scope="col">
						Problem
					</th>
					<th scope="col">
						Solved Time
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td scope="row">
						-
					</td>
					<td>
						-
					</td>
					<td>
						-
					</td>
				</tr>
				</tbody>
				</table>
			</div>
			<footer class="text-center text-muted"><address class="clear-margin">&copy; <a class="text-muted" href="//safflower.kr" target="_blank">Safflower</a>. All Rights Reserved.</address></footer>
		</div>
	</div>
</div>
</body>
</html>
